.head-box {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  margin-top:30px;
  display: block;
}
.title {
  position: relative;
  color: rgb(221, 105, 105);
  font-size: 30px;
  display: inline-flex;
  left: 10%;
}
.logo {
  position: relative;
  color: #222;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  animation: slideLeft 0.3s ease-in-out forwards;
}
.group {
  float: right;
  animation: slideRight 0.3s ease-in-out forwards;;
  margin-right: 10%;
}
.navigation{
  display: inline-flex;
}
.group ul li {
  list-style: none;
}
.group ul li a {
  color: #222;
  text-decoration: none;
  margin-left: 30px;
}
.group ul li a:hover {
  color: rgb(221, 105, 105);
}
@keyframes slideRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (prefers-color-scheme) {
  .logo {
    color: #fff;
}
.group ul li a {
    color: #fff;
}
}
@media (max-width: 500px)
{
  .group ul li a {
    margin-left: 15px;
    font-size: 15px;
  }
}
@media (max-width: 400px)
{
  .group ul li a {
    margin-left: 15px;
    font-size: 13px;
  }
}